<div class="section">
	Register
</div>

<div>
	<div class="form">
		<div class="key">
			Username
		</div>
		<div class="val">
			<input class="in_username">
		</div>

		<div class="key">
			Password
		</div>
		<div class="val">
			<input type="password" class="in_password">
		</div>

		<div class="key">
			Retype Password
		</div>
		<div class="val">
			<input type="password" class="in_password2">
		</div>

		<div class="submit">
			<button class="in_submit">Register</button>
		</div>
	</div>
</div>
